ErrorDocument 404 /html/404.html
RewriteEngine on
RewriteRule ^.+[/]favicon.png$					/favicon.png			[L,NC]
RewriteRule ^favicon.png$					favicon.png			[L,NC]
RewriteRule ^login[/]index$					/login		              	[L,NC]
RewriteRule ^login$						/index.php?login              	[L,NC]
RewriteRule ^login[/]$						/index.php?login              	[L,NC]
RewriteRule ^login[/]ace[/](.*)$				/ace/$1				[L,NC]
RewriteRule ^ace/.*$						$0				[L]
RewriteRule ^login[/]([^/]+)[/]([^.]+)[.](svg|jpg|png)$		/mm/$1/$2.$3			[L,NC]
RewriteRule ^login[/]([^/]+)[/]([^.]+)[.](js|css|php)$		/$2.$3				[L,NC]
RewriteRule ^login[/]([^/]+)[/]([^/]+)$				/index.php?context=$1&page=$2	[L,NC]
RewriteRule ^login[/]([^.]+)[.](svg|jpg|png)$			/mm/$1.$2			[L,NC]
RewriteRule ^login[/]([^.]+)[.](js|css|php)$			/$1.$2				[L,NC]
RewriteRule ^login[/]([^/]+)$					/index.php?page=$1		[L,NC]
RewriteRule ^index[.]php.*$					$0				[L,NC]
RewriteRule ^.*[/]([^.]+)[.](js|php|css)$			/$1.$2				[L,NC]
RewriteRule ^[^.]+[.](js|php|css)$				$0				[L,NC]
RewriteRule ^login[/].*$					$0				[L]
RewriteRule ^html[/](.*[^.]+[.](svg|jpg|png))$			/mm/$1				[L,NC]
RewriteRule ^html[/](.*)[/][^.]+$				$0.html				[L]
RewriteRule ^html[/][^.]+$					$0.html				[L]
RewriteRule ^html[/].*$						$0				[L]
RewriteRule ^mm[/].*$						$0				[L]
RewriteRule ^images[/].*$					$0				[L]
RewriteRule ^.*$						html/$0				[L]
