/* 
  vim: ts=4 sw=4 sts=4 noet : 
*/
/***********************************************
 MMWiki
 ***********************************************/

body {
	margin-top: 0;
	background: white;
	margin-left: 0;
	margin-right: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    font-size: 70px;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape)  {
  body {
    font-size: 18px;
  }
}

#mmwiki .wiki-inhoud {
	margin-left: -20%;
	width: 19%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
  #mmwiki .wiki_inhoud {
     margin-left: 0;
     width: 100%;
  }
}

.mmwiki_hdr {
	position: fixed;
	padding-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #404040;
	background: white;
	width: 70%;
	margin-left: 0%;
	margin-right: 0%;
	top: 0;
}

.mmwiki_hdr .left {
	display: inline;
	margin-right: auto;
	margin-left: 0;
}

.mmwiki_hdr .right {
	display: inline;
	margin-left: auto;
	margin-right: 0;
}

.mmwiki_hdr .left a span.index, .mmwiki_hdr .right a span.home {
	display: inline;
}

.mmwiki_hdr .left a span.mobile-index, .mmwiki_hdr .right a span.mobile-home {
	display: none;
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
  .mmwiki_hdr { 
	position: fixed;
	padding-top: 0;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #404040;
	background: white;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	display:block;
	font-size: 150%;
  }


  .mmwiki_hdr .left {
	  display: inline;
	  margin-right: auto;
	  margin-left: 0;
  }

  .mmwiki_hdr .right {
	  display: inline;
	  margin-left: auto;
	  margin-right: 5%;
  }

  .mmwiki_hdr .left a span.index, .mmwiki_hdr .right a span.home {
	  display: none;
  }

  .mmwiki_hdr .left a span.mobile-index, .mmwiki_hdr .right a span.mobile-home {
	  display: inline;
  }
}

#mmwiki {
   margin-top: 4em;
}

@media screen and (max-device-width: 640px) and (orientation: landscape)  {
   .mmwiki_hdr {
		font-size: 250%;
		margin-bottom: 0;
		padding-bottom: 0;
   } 
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
  #mmwiki {
     margin-top: 4em;
  }
}

.mmwiki_page {
	width: 70%;
	margin-left: 20%;
	margin-right: 10%;
   margin-bottom: 3em;
	background: white;
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
	.mmwiki_page {
		width: 100%;
		margin-left: 2%;
		margin-right: 2%;
	}
}

.toc {
	position: fixed;
	margin-left: -15%;
	width: 14%;
	font-size: 80%;
}


.toc h3 {
	font-size: 125%;
}

.toc ul {
   list-style: none;
   padding-left: 0;
}

.toc ul li {
   padding-bottom: 0.5em;
}

.toc ul ul {
   padding-left: 1em;
}

.toc ul ul li {
   padding-bottom: 0.1em;
}

.toc ul ul ul {
	padding-left: 1em;
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
	.image-center {
		width: 100% !important;
	}
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
  .toc { display: none; }
}


.mmwiki_page a {
	text-decoration: none;
}

.mmwiki_page a:hover {
	color: #6556c7;
	transition: color 0.5s;
}

.mm-index table, .mm-index td, .mm-index th  {
	border: none;
}

.mm-index span.remedy1 {
	white-space: nowrap;
}

.mm-index span.remedy1 a {
	color: #000000;
	font-style: normal;
}

.mm-index span.remedy1 a:hover {
	color: #6556c7;
	transition: color 0.5s;
}

img {
  box-shadow: 0px 0px 7pt 2pt #c0c0c0;
}

td img, th img, .logo img {
  box-shadow: none;
}

span.anchor {
    top: -3em;
}

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
  .mm-index table, .mm-index tbody, .mm-index td, .mm-index tr {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
  } 
  .mm-index thead, .mm-index th { 
		display: none;
  }
  .mm-index td:nth-child(even) { background: white; }
  .mm-index td:nth-child(odd)  { background: #baf5d7; }
}

/***********************************************
 MMWiki Meta
 ***********************************************/

@media screen and (max-device-width: 480px) and (orientation: portrait), 
   screen and (max-device-width: 640px) and (orientation: landscape)  {
	.meta {
		float: none;
		width: 100%;
		border: none;
	}
	.meta table {
		width: 95%;
	}
	.meta table td .hover {
		display: none;
	}
	.meta table td:nth-child(1) { display: none; }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	.meta table td img { width: 100%; }
}

@media screen and (max-device-width: 640px) and (orientation: landscape)  {
	.meta table td img { height: 70vh; width: auto; max-width: 100%; }
}



/***********************************************
 MMWiki Editing
 ***********************************************/

#image_name {
	width: 15em;
}

#language_code {
	width: 5em;
	text-align: center;
}

#image_upload_btn {
	width: 15em;
}

#image_upload_now {
	width: 5em;
}

#mm_edit, .mmwiki_edit {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99; 
	width: 50%;
	height: 50%;
	display: block;
	border: 1px solid black;
	background: #a0a0a0;
	resize: both;
	overflow: auto;
}

#editor {
	display: block;
	width: 100%;
	height: 90%;
	margin-top: 2px;
	margin-bottom: 2px;
}

/***********************************************
 MMWiki Login
 ***********************************************/
 
.login {
	width: 10cm;
	margin: 1cm;
	padding: 1cm;
	background: white;
	z-index: 100;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -5cm;
	display: none;
	border: 3px solid green;
}

.login button {
	width: 100%;
}

.login table {
	width: 100%;
}

.login input[type=text], input[type=password] {
	width: 95%;
}

.login #login-msg {
	text-align:center;
}

.login span.error {
	color: red;
	font-weight: bold;
}


/***********************************************
 MMWiki Publish All
 ***********************************************/

.publish_all {
    width: 10cm;
    margin: 1cm;
    padding: 1cm;
    background: white;
    z-index: 100;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -5cm;
    display: none;
    border: 3px solid green;
}

.publish_all table {
    width: 100%;
}

.publish_all td.label {
	width: 30%;
}

.publish_all #publish_all_msg {
	text-align:center;
}

.publish_all span.error {
	color: red;
	font-weight: bold;
}

.publish_all button {
	width: 100%;
}
